/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Encabezado */
header {
    background-color: #a97f0c;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Menú */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Contenido principal */
.contenido {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

button:hover {
    background-color: #60500d;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}
.boton-cuadro {
    padding: 10px 20px;
    background-color: #60500d;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.boton-cuadro:hover {
    background-color: #60500d;
}

.cuadro-grande {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.centro {
    margin: 40px auto;   /* lo centra y separa del header */
    width: 80%;          /* más largo (puedes subirlo a 90% si quieres más ancho) */
}

